<h2>Payment Fraud Detection</h2>
<h3>EDA - Exploratory Data Analysis</h3>
<h4>Author: Akshay Pandurang Paunikar</h4

In [1]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
# set the working directory
import io
%cd "datasets/"

e:\iNeuron\Projects\Payment_Fraud_Detection\notebook\datasets

In [3]:
# read the data
data = pd.read_csv("Payment_Fraud.csv")
data.head()

,AccountAgeDays,NumItems,localTime,PaymentMethod,PaymentMethodAgeDays,Label
0,29,1,4.75,paypal,28.2,0
1,725,1,4.74,storecredit,0.0,0
2,845,1,4.92,creditcard,0.0,0
3,503,1,4.89,creditcard,0.0,0
4,2000,1,5.04,creditcard,0.0,0

In [4]:
# dimensions
data.shape

(39221, 6)

In [5]:
# datatypes
data.dtypes

AccountAgeDays            int64
NumItems                  int64
localTime               float64
PaymentMethod            object
PaymentMethodAgeDays    float64
Label                     int64
dtype: object

In [7]:
# descriptive statistics
data.describe().round(2)

       AccountAgeDays  NumItems  localTime  PaymentMethodAgeDays     Label
count        39221.00  39221.00   39221.00              39221.00  39221.00
mean           857.56      1.08       4.75                122.64      0.01
std            804.79      0.57       0.39                283.57      0.12
min              1.00      1.00       0.42                  0.00      0.00
25%             72.00      1.00       4.74                  0.00      0.00
50%            603.00      1.00       4.89                  0.01      0.00
75%           1804.00      1.00       4.96                 87.51      0.00
max           2000.00     29.00       5.04               1999.58      1.00

In [8]:
# concise summary
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39221 entries, 0 to 39220
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AccountAgeDays        39221 non-null  int64
 1   NumItems              39221 non-null  int64
 2   localTime             39221 non-null  float64
 3   PaymentMethod         39221 non-null  object
 4   PaymentMethodAgeDays  39221 non-null  float64
 5   Label                 39221 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.8+ MB

In [14]:
# check for duplicates
data.duplicated().sum()

0

In [15]:
# drop duplicates
data = data.drop_duplicates()

In [16]:
# check for duplicates again
data.duplicated().sum()

0

In [17]:
# check for null/missing values
data.isnull().sum()

AccountAgeDays          0
NumItems                0
localTime               0
PaymentMethod           0
PaymentMethodAgeDays    0
Label                   0
dtype: int64